<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="robots" content="noindex" />
  <meta name="description"
    content="An open source social media platform and public forum for questions and discussions, built for developers." />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}"/>

  <!-- Highlight.js Styles -->
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/default.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/night-owl.min.css" />

  <!-- Styles -->

  <title>🎨 Mumble UI</title>
  
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      {% if message.tags %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    {% block content %}

    {% endblock content %}
    <footer id="footer" align="center">Shaik Saaduddin</footer>
</body>
</html>